/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* *********************************** */
/*   Mis estilos                       */
/* *********************************** */

/* Variables */

:root {
  --fondo-base: #222;
  --fondo-contraste: #4e4e4e;
  --color-acentado: #00ffff;
  --color: #ffffff;
  --color-red: #ff0000;
  --color-orange: #ff8a00;
  --color-green: #05ff00;
  --border-radius: 5px;
}

/* Letras */
.listas-titulos {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem;
}

/* Estilos básicos */
body {
  background-color: #333;
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
input::placeholder {
  opacity: 30%;
}

/* *********************************** */
/* HomeLayout*/
/* *********************************** */
.main-container {
  position: relative;
  margin: 0 auto;
  max-width: 412px;
  background-color: var(--fondo-base);
  height: 100dvh;
}

button {
  cursor: pointer;
}

/* *********************************** */
/* BarraHeader  */
/* *********************************** */

.header-container {
  position: fixed;
  top: 0;
  max-width: 412px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--fondo-contraste);
  height: 3rem;
}
.header-inicio {
  color: var(--color-green);
}

/* *********************************** */
/* EditarLista Componente
/* *********************************** */

.editarlistas-container {
  margin-block: 3rem 3.5rem;
}
.editarlista-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* *********************************** */
/* EditarListaInput se ve en el EditarLista
/* *********************************** */
.lista-form-componente {
  display: grid;
  grid-template-columns: 40px auto 40px 40px;
  align-items: center;
  background-color: var(--fondo-contraste);
  margin-inline: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.delete-btn,
.cancelar-delete-btn {
  width: 25px;
  height: 25px;
  border: 5px solid var(--fondo-base);
  border-radius: 50%;
  cursor: pointer;
}

.cancelar-delete-btn {
  background-color: red;
}

.lista-form--num-item {
  justify-self: end;
  font-size: 1.3rem;
}

/* *********************************** */
/* Ajuste componente                   */
/* *********************************** */

.ajustes-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  margin-block: 3rem;
  padding: 3rem 1rem;
}

.salir-btn {
  color: var(--color-red);
}

/* *********************************** */
/* Barra Footer de añadir recordatorio */
/* *********************************** */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 412px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--fondo-contraste);
  height: 3rem;
  color: var(--color-acentado);
  font-size: 1.1rem;
}

/* *********************************** */
/* nuevoRecordatorio y DetalleRecordatorio */
/* *********************************** */

.nuevo-recordatorio-container {
  margin-block: 4rem;
  padding: 1rem;
}

.lista-nuevo-recordatorio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-elemento-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondo-contraste);
  padding: 1rem;
}

.titulo-btn-container {
  display: flex;
}

.btn-guardar {
  padding-inline: 2rem;
  background-color: var(--color-orange);
  color: var(--fondo-base);
  font-weight: 700;
  font-size: 1.1rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: color ease-in-out 120ms;
}

.btn-guardar:hover {
  color: var(--color);
}

.btn-guardar:disabled {
  background-color: var(--fondo-base);
  color: var(--color-acentado);
  font-size: 0.8rem;
  border: 2px solid var(--fondo-contraste);
}

.borrar-img {
  background-color: var(--fondo-contraste);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  align-self: start;
  margin-block: 1rem;
  color: var(--color-red);
  font-weight: 600;
}

.borrar-img:hover {
  color: var(--color);
}

#titulo,
#nota {
  padding: 1rem;
  width: 100%;
}

#titulo,
#nota,
#fecha,
#hora,
#seleccionar-lista,
#marcado,
#cargar-imagen {
  background-color: var(--fondo-contraste);
  margin-bottom: 1rem;
  font-family: inherit;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 0.5rem;
}
#titulo {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#fecha,
#hora,
#seleccionar-lista,
#marcado,
#cargar-imagen {
  color: var(--color-acentado);
}
#fecha,
#hora,
#seleccionar-lista {
  width: 10rem;
  height: 2.4rem;
  background-color: var(--fondo-base);
}

#titulo,
#nota {
  padding: 1rem;
}

#marcado {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  border: 2px solid var(--color);
  border-radius: var(--border-radius);
  display: grid;
  place-content: center;
  margin-right: 0.5rem;
}

#marcado::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--color-acentado);
}

#marcado:checked::before {
  transform: scale(1);
}

#hora::-webkit-calendar-picker-indicator,
#fecha::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

#cargar-imagen {
  padding: 1rem;
}

/* *********************************** */
/*   Home                              */
/* *********************************** */

.home-container {
  padding: 0.5rem;
  margin-block: 3rem;
}

.home-lista-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

/* Tablero */
.tablero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.tablero-tarjeta {
  display: flex;
  flex-direction: column;
  background-color: var(--fondo-contraste);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}

.tablero-tarjeta--primera-fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tablero-tarjeta--img {
  height: 1.7rem;
}

.tablero-tarjeta--num {
  font-size: 1.7rem;
  font-weight: 700;
}

.tablero-tarjeta--fecha {
  font-size: 1.1rem;
}

/* *********************************** */
/*   HomeListaTarjeta                  */
/* *********************************** */

.home-lista-tarjeta {
  display: flex;
  align-items: center;
  background-color: var(--fondo-contraste);
  padding: 1rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
  font-size: 1.2rem;
}

.home-lista-tarjeta-num {
  margin-left: auto;
  font-size: 1.5rem;
}

/* *********************************** */
/*  DetallesLista                      */
/* *********************************** */

.detalle-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 3rem;
  padding-inline: 1rem;
}

/* *********************************** */
/*  TarjetaRecordatorio                 */
/* *********************************** */

.tarjeta-recordatorio-container {
  background-color: var(--fondo-contraste);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 40px auto 40px 40px;
  align-items: center;

  padding: 1rem;
}

.tarjeta-recordatorio-marcado {
  justify-self: end;
  grid-column: -2/-3;
}

.tarjeta-recordatorio-flecha {
  justify-self: end;
  grid-column: -1/-2;
  width: 30px;
}

/* Loguear */

.loguear-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-block: 3rem;
  margin-inline: auto;
  max-width: 412px;
}

.loguear-container h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.loguear-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* gap: 0.8rem; */
  width: 80%;
  border: var(--border-radius);
  background-color: var(--fondo-base);
  color: var(--color-acentado);
}

.loguear-form label {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.loguear-form input {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--fondo-contraste);
  color: var(--color);
  margin-bottom: 0.8rem;
}

.loguear-form button {
  padding: 0.5rem;
  margin-block: 1rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-orange);
  color: var(--fondo-contraste);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.loguear-form button:disabled {
  background-color: var(--fondo-base);
  border: 1px solid var(--fondo-contraste);
  cursor: not-allowed;
}

.error {
  color: var(--color-red);
  font-size: 0.8rem;
  font-weight: 600;
}

.registar-enlace {
  color: var(--color-acentado);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  cursor: pointer;
}
